{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path("upload_file") }}" enctype="multipart/form-data">
        <label>
            <input type="radio" name="type" value="private">
        </label>Private<br>
        <label>
            <input type="radio" name="type" value="public">
        </label>Public<br>
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <a href="{{ path("upload_pdf") }}">Generate PDF</a>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <a href="{{ path("upload_css") }}">Generate CSS</a>
{% endblock %}

{% block stylesheets %}
{% endblock %}
